<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card card-body">
                <h4 class="card-title">Hábito</h4>
                <h6 class="card-subtitle">Creación</h6>
                <form class="form p-t-20" 
                    [formGroup]="formularioCrearHabito"
                    (ngSubmit)="OperacionDeCrearActualizar()">
                    <div class="form-group">
                        <label>nombre</label>
                        <input type="text" class="form-control" placeholder="Ingrese un nombre" formControlName="nombre">
                    </div>
                    
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar Cambios
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6" *ngIf="id!=''">
        <div class="card">
            <div class="card card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Imagen del hábito</h6>
                <div class="card-body">
                    <center class="m-t-30"> 
                        <img *ngIf="!imagenTemporal" [src]="validarCreacionoUpdate()" class="img-circle img-avatar" width="80">
                        <img *ngIf="imagenTemporal"  [src]="imagenTemporal" class="img-circle img-avatar" width="250">
                        <h4 class="card-title m-t-10"></h4>  
                    </center>
                </div>

                <img [src]="imagenHabito">
                <input type="file"
                        (change)="cambiarImagen($event)">
                <br>
                <button type="submit" 
                    class="btn btn-success waves-effect m-r-10"
                    [disabled]="!imagenSubir"
                    (click)="subirImagen()">
                    <i class="fa fa-save"></i>
                    Cambiar imagen
                </button>
            </div>
        </div>
     </div>
</div>