<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div> 

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-8">
                        <h4 class="card-title">Hábitos registrados</h4>
                        <h6 class="card-subtitle"></h6>
                    </div>
                    <div class="col">
                        <div class="text-right" >
                            <button class="btn btn-primary" (click)="irCrearHabito()">
                                <i class="fa fa-user-o"></i>
                                Crear Hábito
                            </button>
                            &nbsp;
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table color-bordered-table primary-bordered-table">
                        <thead>
                            <tr>
                                <th class="text-center w100"></th>
                                <th>Nombre</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let habito of habitos">
                                <td class="text-center">
                                    <img [src]="verImagen(habito)" alt="Avatar de usuario" class="avatar">
                                </td>
                                <td>{{habito.nombre}}</td>
                                

                                <td class="text-nowrap text-center">
                                    <a data-toggle="tooltip" 
                                        data-original-title="Editar"
                                        class="cursor"
                                        (click)="irEditarHabito(habito._id)"> 
                                        <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                    </a>
                                    <a data-toggle="tooltip" 
                                        data-original-title="Borrar" 
                                        class="cursor"
                                        (click)="eliminarHabito(habito._id)"> 
                                        <i class="fa fa-close text-danger"></i> 
                                    </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <!-- <div *ngIf="txtTermino.value.length === 0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button>
                    &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
                </div> -->
                
            </div>
        </div>
    </div>
</div>