<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card card-body">
                <h4 class="card-title">Recomendación</h4>
                <h6 class="card-subtitle">Creación</h6>
                <form class="form p-t-20" 
                    [formGroup]="formularioCrearRecomendacion"
                    (ngSubmit)="OperacionDeCrearActualizar()">
                    <div class="form-group">
                        <label>Título</label>
                        <input type="text" class="form-control" placeholder="Ingrese un título" formControlName="titulo">
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea class="form-control" placeholder="Ingrese una descripción" formControlName="descripcion" rows="5"></textarea>
                    </div>
                    <div >
                        <div class="col-sm-6">
                            <div >
                                <label *ngFor="let habito of seleccionHabitos" class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                    [checked]="habito.isSelected"
                                    (change)="seleccionDeHabitos($event, habito)">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{habito.nombre}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar Cambios
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6" *ngIf="id!=''">
        <div class="card">
            <div class="card card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Imagen de la recomendación</h6>
                <div class="card-body">
                    <center class="m-t-30"> 
                        <img *ngIf="!imagenTemporal" [src]="validarCreacionoUpdate()" class="img-circle img-avatar" width="80">
                        <img *ngIf="imagenTemporal"  [src]="imagenTemporal" class="img-circle img-avatar" width="250">
                        <h4 class="card-title m-t-10"></h4>  
                    </center>
                </div>

                <img [src]="imagenRecomendacion">
                <input type="file"
                        (change)="cambiarImagen($event)">
                <br>
                <button type="submit" 
                    class="btn btn-success waves-effect m-r-10"
                    [disabled]="!imagenSubir"
                    (click)="subirImagen()">
                    <i class="fa fa-save"></i>
                    Cambiar imagen
                </button>
            </div>
        </div>
     </div>
</div>