<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input type="text"
                        class="form-control"
                        placeholder="Buscar pacientes..."
                        (keyup)="buscar(txtTermino.value)"
                        #txtTermino/>
            </div>
        </div>
    </div>
</div> 

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div> 

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Pacientes registrados</h4>
                        <!--<h6 class="card-subtitle">Usuarios registrados en mi aplicación</h6>-->
                    </div>
                    <!-- <div class="col">
                        <div class="text-right" >
                            <button class="btn btn-primary" (click)="irCrearUsuario()">
                                <i class="fa fa-user-o"></i>
                                Crear Usuario
                            </button>
                        </div>
                    </div> -->
                </div>

                <div class="table-responsive">
                    <table class="table color-bordered-table primary-bordered-table">
                        <thead>
                            <tr>
                                <th class="text-center w100"></th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Estado</th>
                                <th>Correo</th>
                                <th>PSQI</th>
                                <th class="text-center w100">DNI</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of pacientes">
                                <td class="text-center">
                                    <img [src]="verImagen(usuario)" alt="Avatar de usuario" class="avatar">
                                </td>
                                <td>{{usuario.nombre}}</td>
                                 <td>{{usuario.apellido}}</td>
                                 <td>{{ (usuario.habilitado) ? 'Habilitado' : 'Deshabilitado'}}</td>
                                <td>{{usuario.correo}}</td>
                                <td>{{usuario.psqi}}</td>
                                <td>{{usuario.dni}}</td>
                                <!--<td>{{usuario.rol}}</td>-->

                                <td class="text-nowrap text-center">
                                    <a *ngIf="usuario.habilitado" data-toggle="tooltip" 
                                        data-original-title="Editar"
                                        class="cursor"
                                        (click)="deshabilitarEspecialista(usuario._id)"> 
                                        <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                    </a>
                                    <a *ngIf="!usuario.habilitado" data-toggle="tooltip" 
                                        data-original-title="Editar"
                                        class="cursor"
                                        (click)="habilitarEspecialista(usuario._id)"> 
                                        <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                    </a>
                                    <!-- <a data-toggle="tooltip" 
                                        data-original-title="Borrar" 
                                        class="cursor"
                                        (click)="deshabilitarEspecialista(usuario._id)"> 
                                        <i class="fa fa-close text-danger"></i> 
                                    </a> -->
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <!-- <div *ngIf="txtTermino.value.length === 0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button>
                    &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
                </div> -->
                
            </div>
        </div>
    </div>
</div>