<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
	<!-- Sidebar scroll-->
	<div class="scroll-sidebar">
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav">
			<ul id="sidebarnav">
				
				<li class="nav-devider"></li>
				<li class="nav-small-cap">Mantenimiento</li>
			  <li> 
          <a class="waves-effect waves-dark" href="index.html" aria-expanded="false">
            <i class="mdi mdi-gauge"></i>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li> 
          <a class="waves-effect waves-dark" routerLink="pacientes"  aria-expanded="false">
            <i class="mdi mdi-account-check"></i>
            <span class="hide-menu">Pacientes</span>
          </a>
        </li>
        <li> 
          <a class="waves-effect waves-dark" routerLink="especialistas"  aria-expanded="false">
            <i class="mdi mdi-account-check"></i>
            <span class="hide-menu">Especialistas</span>
          </a>
        </li>
        <li> 
          <a class="waves-effect waves-dark" routerLink="recomendaciones"  aria-expanded="false">
            <i class="mdi mdi-account-check"></i>
            <span class="hide-menu">Recomendaciones</span>
          </a>
        </li>
        <li> 
          <a class="waves-effect waves-dark" routerLink="habitos"  aria-expanded="false">
            <i class="mdi mdi-account-check"></i>
            <span class="hide-menu">Hábitos</span>
          </a>
        </li>
                
                
			</ul>
		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
